/*Mobile*/
@media (max-width: 890px) {

  /*TopBar*/
  .topbg {
    height: 150px;
  }

  .searchM {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 50px;
    width: 100vw;
    margin-left: 0;
    margin-top: 40px;
  }

  .sLogo {
    position: absolute;
    width: 50px;
    height: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .scrollLogo {
    display: none;
  }

  .sLogoA {
    justify-content: center;
    display: flex;
  }

  .delQueryBtn {
    top: 30px;
    right: 47px;
    margin-right: 0;
  }

  .searchBox {
    margin-top: 30px;
    width: calc(100% - 40px);
    max-width: unset;
    height: 45px;
    font-size: 20px;
    margin-left: 10px;
    pointer-events: auto;
    padding-right: 50px;
  }

  .searchButton {
    margin-top: 30px;
    height: 45px;
    width: 30px;
    top: 0.3px;
    pointer-events: auto;
  }

  .allBut {
    margin-left: 5px !important;
  }

  .searchButtonMain {
    top: -2px;
    margin-top: 0px;
  }

  .settingButton:nth-child(1) {
    margin-left: 0vw;
  }

  .autocom-box {
    width: 100%;
    margin-top: 70px;
    position: absolute;
    pointer-events: auto;
  }

  .scrollSearchBackground {
    display: none;
  }

  .settingButtons {
    width: calc(100% - 20px);
    margin-top: 112px !important;
    padding: 0 3px 3px 0;
    margin-left: 20px;
  }

  @-moz-document url-prefix() {
    .settingButtons {
      margin-top: 108px !important;
    }
  }

  .settingButton {
    margin-left: 5px;
  }

  .setButStyle {
    margin: 0 auto;
  }

  .topspace {
    margin-top: 145px;
  }

  .labelforcheckquick {
    margin-left: 94vw;
    margin-top: 107px;
  }

  .quickSettingButtons {
    top: 170px;
  }

  @keyframes showquicksettings {
    0% {
      display: none;
      top: 0;
    }

    50% {
      top: 0;
    }

    100% {
      display: block;
      top: 170px;
    }
  }

  .wrapper {
    top: 0;
    right: 0px;
  }
  .menu-btn {
    position: absolute;
    top: 14px;
  }
  .tree-btn {
    top: 9px;
    left: 10px;
    right: unset;
  }

  .feedbackMenuLabelMobile {
    display: block;
    position: fixed;
    cursor: pointer;
    bottom: 5px;
    display: block;
    z-index: 13;
    left: 30px;
  }

  /*Output*/
  .output {
    width: 95vw;
    margin-left: 2.5vw;
  }

  .mBorderBoth2 {
    border-radius: var(--result-curve);
  }

  .mBorderTop2 {
    border-top-left-radius: var(--result-curve);
    border-top-right-radius: var(--result-curve);
  }

  .mBorderBottom2 {
    border-bottom-left-radius: var(--result-curve);
    border-bottom-right-radius: var(--result-curve);
  }

  .imgtools {
    padding-left: 0vw;
    width: 100vw;
    max-width: 100vw;
  }

  .imgoutdiv {
    width: 50vw;
  }

  .imgoutlink {
    display: block;
    text-decoration: none;
  }

  .bigimgout {
    width: 100vw;
  }

  .bigimgclose {
    display: block;
  }

  .answer {
    clear: none;
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 95vw;
    position: static;
    margin-left: 2.5vw;
  }

  .hQuery {
    margin-top: 0px;
  }

  .findelsewhere {
    margin-left: 0;
  }

  .findelsewhere button {
    margin-top: 0;
  }

  .nextPage {
    margin-left: 0 !important;
    float: right;
  }

  /*other*/
  .share-container {
    display: none;
  }

  .autocomplete {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: -20px;
  }

  .autocomplete-items {
    margin-top: 68px;
  }

  #sidebar {
    position: fixed;
    height: 101vh;
    width: 100vw;
    right: -110vw;
    transition: all 0.7s ease;
    z-index: 999;
  }

  .showtime {
    bottom: 0;
    top: unset;
    border-radius: var(--result-curve) var(--result-curve) 0 0;
    width: 100vw;
  }
}