/* SPDX-FileCopyrightText: 2022, 2022-2022 Roman LÃ¡ncoÅ¡ <jojoyou@jojoyou.org> */
/* */
/* SPDX-License-Identifier: AGPL-3.0-or-laterÂ */
:root {
  --sidebar-bg-color-light: rgba(250, 251, 255, 0.9);
  --sidebar-bg-color-dark: rgba(42, 44, 46, 0.9);

  --result-curve: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  transition: none;
}

img {
  object-fit: contain;
}


/*Top Bar*/
.sLogo {
  height: 80px;
  margin-top: -15px;
  float: left;
  margin-left: 1.5vw;
  position: absolute;
}

.searchM {
  margin-top: 10px;
  position: fixed;
  z-index: 11;
  width: 80vw;
  padding: 10px 0 10px 0;
  margin-left: 9vw;
}

.searchBox {
  height: 45px;
  width: calc(100% - 72px);
  max-width: clamp(1px, 675px, 90vw);
  border-width: 0px;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 15.5px;
  padding-left: 10px;
  padding-right: 35px;
  outline: none;
}

.searchButton {
  border-radius: 0 20px 20px 0;
  height: 45px;
  position: relative;
  left: -10px;
  border-width: 0px;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  cursor: pointer;
  top: -1px;
  width: 37px;
}

.searchButton::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 25%;
  height: 50%;
  border-left: 1px solid green;
}

.searchButton:hover {
  background: linear-gradient(320deg, #34b199, #bfe8bf);
}

.delQueryBtn {
  position: absolute;
  z-index: 1;
  top: 18.5px;
  margin-left: -33px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.autocom-box {
  width: clamp(1px, 675px, 90vw);
  border-radius: 20px;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  height: 30px;
  padding-left: 2%;
  padding-top: 6px;
  border-radius: 20px;
}

.suggestion img {
  width: 22px;
  padding-right: 10px;
  height: auto;
}

.feedbackMenuLabel {
  margin-left: 20px;
  cursor: pointer;
}

.feedbackMenuLabel img {
  width: 13px;
  height: 13px;
}

.feedback {
  display: none;
  margin-left: 9vw;
  position: absolute;
  width: auto;
  max-width: 100vw;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  padding: 10px;
  margin-right: 9vw;
}

#feedbackMenu:checked~.feedback {
  display: block;
}

.quickSet {
  border: solid 1px grey;
  border-radius: 10px;
  margin-left: 1vw;
  cursor: pointer;
  padding: 3px;
  max-width: 8vw;
  min-width: 80px;
}

.quickSettingButtons {
  display: none;
  position: absolute;
  top: 125px;
}

.quickSettingsSpace {
  display: none;
  height: 0;
  width: auto;
}

.allBut {
  margin-left: 9vw !important;
}

#threedotsquick:checked~.quickSettingButtons {
  animation: showquicksettings 0.4s;
  display: block;
}

#threedotsquick:checked~.quickSettingsSpace {
  animation: showquickspace 0.2s;
  display: block;
  height: 50px;
}

@keyframes showquickspace {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}

@keyframes showquicksettings {
  0% {
    display: none;
    top: 0;
  }

  50% {
    top: 0;
  }

  100% {
    display: block;
    top: 125px;
  }
}

.topspace {
  margin-top: 105px;
}

.labelforcheckquick {
  margin-left: calc(8vw + clamp(552px, 675px, 90vw));
  border: none;
  font-size: 16px;
  background-color: #1ece56;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 61px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.tree-btn {
  display: none;
  top: 33px;
  position: absolute;
  right: 7%;
  border: none;
  background: none;
  z-index: 10;
}

.analytics {
  backdrop-filter: blur(5px);
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  right: 20px;
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 20px;
  min-width: 300px;
  border: solid 1px gray;
  animation: slide-up 5s;
}

@keyframes slide-up {
  0% {
    bottom: -500px;
  }

  90% {
    bottom: -500px;
  }

  100% {
    bottom: 20px;
  }
}

/*Show time*/
.showtime{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  border-radius: var(--result-curve) 0 0 0;
  z-index: 5;
}

/*Output*/
.output {
  width: clamp(552px, 675px, 90vw);
  clear: left;
  float: left;
  padding-left: 1%;
  padding-bottom: 10px;
  margin-left: 9vw;
}

.mBorderBoth {
  border-radius: var(--result-curve);
}

.mBorderTop {
  border-top-left-radius: var(--result-curve);
  border-top-right-radius: var(--result-curve);
}

.mBorderBottom {
  border-bottom-left-radius: var(--result-curve);
  border-bottom-right-radius: var(--result-curve);
}

.cBorderTop2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.output,
h4 {
  font-size: 18px;
}

.output a {
  color: #3391ff;
  padding-bottom: 20px;
  text-decoration: none;
}

.output a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #3391ff;
  transition: 300ms;
}

.output a:hover::after {
  width: 20%;
  margin-left: 29px;
}

.output .Outfavicon {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  margin-top: 18px;
  border-radius: 10px;
}

.OutTitle {
  padding-top: 18px;
  width: calc(100% - 139px);
  margin-left: 29px;
  font-weight: normal;
  font-size: 16px;
}

.resLink {
  font-weight: bold;
  color: #747684;
  font-size: 10px;
  width: calc(100% - 139px);
  overflow-x: hidden;
  margin-left: 29px;
}

.snippet {
  font-size: 13px;
  width: calc(100% - 139px);
  margin-left: 29px;
  height: auto;
  float: left;
  clear: left;
  line-height: 1.4;
}

.outputTab {
  margin-left: 29px;
  font-size: 13px;
  float: left;
}

.resProvider {
  color: grey;
  float: right;
  clear: right;
  margin-right: 10px;
  padding-bottom: 3px;
  font-size: 10px;
}

.OutSideImg {
  width: 92px;
  height: 92px;
  float: right;
  clear: right;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 10px;
}

.relSea {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

/* Remove Braves path */
.netloc {
  display: none;
}

.url-path {
  display: none;
}

.nextPage {
  float: left;
  clear: left;
}

.nextPage button {
  border: solid 2px lightgray;
  padding: 10px;
  border-radius: 20px;
  float: left;
  cursor: pointer;
  font-weight: normal;
  margin-top: 10px;
}

/*END*/
.ytvideobtn {
  cursor: pointer;
  border: none;
  width: 175px;
  background: none;
  height: 115px;
}

.ytvideobtn img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 175px;
  max-height: 200px;
  height: 111px;
  object-fit: cover;
}

.twi {
  transition: 0.5s;
}

.twi:hover {
  border-left: 5px solid #8080ff;
}

.news-item {
  width: 30%;
  float: left;
  border-radius: 10px;
  margin-left: 15px;
  border: none;
  box-shadow: 0 0 0px 5px #dfdfdf;
}

.news-item img {
  width: 100%;
  border-radius: 10px;
}

.news-item h2 {
  font-size: 16px;
}

.news-item p {
  font-size: 14px;
}

.answer {
  width: 45ch;
  padding: 30px;
  border-radius: var(--result-curve);
  position: absolute;
  margin-left: calc(11vw + clamp(552px, 675px, 90vw));
  font-size: 14px;
}

.hQuery {
  top: calc(100% + 20px);
  margin-left: -30px !important;
}

.copyQuery {
  border-radius: 20px;
  border: none;
  word-wrap: break-word;
  padding: 10px;
}

.socialBtn {
  background: none;
  border: solid 2px lightgray;
  padding: 3px;
  border-radius: 20px;
  margin: 2px;
  cursor: pointer;
}

.profileIcon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  display: inline;
}

.socialBtn div {
  display: flex;
}

.socialBtn p {
  display: inline;
}

.findelsewhere {
  float: left;
  clear: left;
  margin-left: calc(9vw - 2%);
  padding: 3%;
}

.findelsewhere button {
  border: solid 2px lightgray;
  padding: 10px;
  margin-top: -10px;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  float: left;
  font-weight: normal;
}

/*Image Output */
.imgtools {
  padding-left: 9vw;
  width: calc(9vw + clamp(1px, 675px, 90vw));
  max-width: calc(9vw + 620px);
}

.imgtoolsOption {
  border: solid 1px grey;
  border-radius: 10px;
  cursor: pointer;
  padding: 3px;
  max-width: 8vw;
  min-width: 80px;
  margin: 3px;
}

.imgoutdiv {
  float: left;
  height: 250px;
  width: 16vw;
  text-align: center;
}

.imgout {
  width: 95%;
  max-height: 200px;
  height: auto;
  border-radius: 20px;
}
.imgoutlink {
  text-decoration: none;
  display: none;
}

.imgoutlink:hover {
  text-decoration: underline;
  display: block;
}

.imgoutbtn:hover~.imgoutlink {
  animation: tree-container-active 0.3s ease-in-out;
  display: block;
}

@keyframes tree-container-active {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.imgoutbtn {
  cursor: pointer;
  border: none;
  background: none;
  display: inline-block;
}

.imgoutbtn:focus~.bigimgout {
  right: 0;
}

.bigimgout {
  transition: all 0.45s ease-in-out;
  width: 25vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 15;
  right: -110vw;
  backdrop-filter: blur(20px);
}

.bigimgout img {
  width: 100%;
  height: auto;
  max-height: 50vh;
}

.bigimgout h3 {
  padding-right: 5%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-left: 5%;
  padding-top: 5%;
}

.bigimgout p {
  padding-right: 5%;
  padding-left: 5%;
}

.bigimgout .bigimgbtn {
  display: flex;
  justify-content: center;
}

.bigimgout button {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  width: auto;
  box-shadow: 0 0 5px gray;
}

.bigimgclose {
  margin-top: 25px;
  padding: 10px !important;
  display: none;
}

.imgsidebar {
  height: 100%;
  width: 30vw;
  position: fixed;
  background-color: grey;
  z-index: 99;
  top: 0;
  right: -30vw;
}

/*Video search*/
.videossearch {
  display: block;
  height: 150px;
  background-color: white;
  margin-top: -5px;
  width: 175px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Footer*/
.footer {
  width: 100%;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 50px;
  float: left;
  clear: left;
  margin-top: 125px;
}

.footerDonateButton {
  display: inline;
  display: inline;
  border: solid 1px grey;
  border-radius: 30px;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.footerDonateOpen {
  display: none;
}

.footerDonateHide {
  display: none;
}

#footerDonateOpen1:checked~#footerDonateHide1 {
  display: block;
}

#footerDonateOpen2:checked~#footerDonateHide2 {
  display: block;
}

#footerDonateOpen3:checked~#footerDonateHide3 {
  display: block;
}

#footerDonateOpen4:checked~#footerDonateHide4 {
  display: block;
}

/*Setting Sidebar*/
.settingButton {
  font-weight: normal;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 15px;
  display: inline;
  font-size: 14px;
  padding-right: 1.5px;
  padding-left: 1.5px;
}

.setBut {
  width: 15px;
  height: 10px;
  background: -webkit-linear-gradient(green, #00f);
  background: -moz-linear-gradient(green, #00f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 5px;
}

.wrapper {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.menu-btn {
  position: fixed;
  top: 32px;
  right: 3vw;
  z-index: 12;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.menu-btnMobile {
  display: none;
}

.wrapper .menu-btn i {
  font-size: 23px;
  transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar {
  position: fixed;
  height: 101vh;
  right: -35vw;
  transition: all 0.7s ease;
  z-index: 999;
  top: -5px;
  width: 20vw;
  min-width: 300px;
  backdrop-filter: blur(20px);
}

#btn:checked~#sidebar {
  right: 0px;
}

#sidebar .title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.setSaveAll {
  margin-top: -72px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  position: absolute;
  padding: 5px;
  font-size: 18px;
  height: 50px;
  border-radius: 0 0 var(--result-curve) var(--result-curve);
}

#sidebar .list-items {
  width: 100%;
  height: calc(100% - 95px);
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 30px;
}

.setGroup {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.setListItem {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

#sidebar .list-items li {
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
  border-top: none;
}

#sidebar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
}

#sidebar .list-items li a i {
  margin-right: 20px;
}

#sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}

#sidebar .list-items .icons a:hover {
  background: #404040;
}

#sidebar input[type="radio"]+label {
  transition: all 0s ease-in-out;
  font-size: 25px;
  padding: 5px 6px;
  margin: 5px;
  border-radius: 30px;
  cursor: pointer;
}
.setBtn {
  border: none;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.labCustom, .showCustomThemeBox{
  display: none !important;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.setCheck:checked+.slider {
  background-color: #67c667;
}

.setCheck:checked+.slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.ContentArea {
  width: 50vw;
  height: 50vh;
  position: absolute;
  z-index: 1;
  top: 25vh;
  left: 25vw;
  overflow: hidden;
  box-shadow: 0 0 5px 5px #575454;
  border-radius: 10px;
  padding-top: 5px;
}

.ribbon a {
  background-color: #e8e8e8;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  padding: 3px;
}

.tab {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 2;
}

.tab-setting {
  padding: 10px;
}

.clearance {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.CustomThemeBox {
  display: none;
  width: 100%;
  height: 0;
  border-radius: 10px;
  border: solid 2px lightgray;
  padding: 3px;
}

.setSlideTheme {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: #c6c6ca;
  border-radius: 10px;
  height: 18px;
  width: 100%;
}

.setSlideTheme::-webkit-slider-runnable-track {
  height: 12px;
  -webkit-appearance: none;
  color: none;
  margin-top: -1px;
  background-color: #c6c6ca;
  border-radius: 10px;
}

.setSlideTheme::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  cursor: ew-resize;
  background: white;
  border-radius: 10px;
}

.setSlideTheme::-moz-range-progress {
  background-color: none;
}

.setSlideTheme::-moz-range-track {
  background-color: none;
}

.setSlideTheme::-ms-fill-lower {
  background-color: #43e5f7;
}

.setSlideTheme::-ms-fill-upper {
  background-color: #c6c6ca;
  border-radius: 10px;
}

.setSlideTheme {}

.showCustomThemeBox:checked~.CustomThemeBox {
  display: block;
  animation: showCustomThemeBoxAnim 1s;
  height: 300px;
}

.CustomThemeShow {
  display: block;
  animation: showCustomThemeBoxAnim 1s;
  height: 300px;
}

@keyframes showCustomThemeBoxAnim {
  from {
    height: 0;
  }

  to {
    height: 300px;
  }
}

/*Autocomplete*/
.autocomplete-items {
  position: absolute;
  margin-left: 9vw;
  z-index: 99;
  cursor: pointer;
  width: 33vw;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #979797 !important;
  color: #ffffff;
}

.autocomplete-active {
  background-color: #979797 !important;
  color: #ffffff;
}

.mobileBottomBar {
  display: none;
}

@media (min-width: 1140px) {
  .bigimgout:hover {
    right: 0;
  }
}